* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-image: url("../img/clay-banks-z_DkoUqgx6M-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header nav {
    width: 30%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

header nav ul li {}

header nav ul li a {
    text-decoration: none;
    color: white;
}